@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  margin: 0;
}

#app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

#counter {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
}
